html {
    --bg_400: #222222;
    --bg_300: #383838;
    --txt: #f4f4f4;
    --accent: #A5B6F2;
    --accent_darken: #93a2d9;
    --br: 6px;
    --shadow_xs: 0 0 1rem rgba(0,0,0,0.10);
    --shadow_sm: 0 0 1.2rem rgba(0,0,0,0.20);
    --shadow_md: 0 0 1.5rem rgba(0,0,0,0.30);
    --fs_sm: 0.9rem;
    --fs_nm: 1rem;
    --fs_md: 1.25rem;
    --fs_lg: 2rem;
    // --fs_xl: 4.5rem;
}
